*,
*:before,
*:after {
  box-sizing: border-box;
}

@media (min-width: 768px) {
  :root {
    --maximum-width: 43.125rem;
  }
}

@media (min-width: 1280px) {
  :root {
    --maximum-width: 69.375rem;
  }
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #ffffff;
  color: #83869a;
  margin: 0;
}

.all {
  max-width: 90rem;
  margin: 0 auto;
}

section > * {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 768px) {
  section > * {
    margin-left: 0;
    margin-right: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625;
  /*26/16*/
  margin: 0;
}

@media (min-width: 498px) {
  p {
    max-width: 29.125rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1280px) {
  p {
    font-size: 1.125rem;
    line-height: 1.5556;
    max-width: 27.875rem;
  }
}

@media (min-width: 1440px) {
  p {
    margin-left: 0;
    margin-right: 0;
  }
}

h1 {
  margin: 0;
}

h2,
h3,
h4 {
  color: #13183f;
  font-weight: 800;
  line-height: 1.25;
  margin: 0;
}

h2 {
  font-size: 2.5rem;
  /*40/16*/
  margin-bottom: 1.625rem;
  /*26/16*/
}

@media (min-width: 498px) {
  h2 {
    max-width: 29.125rem;
    margin: 0 auto 1.625rem;
  }
}

@media (min-width: 1280px) {
  h2 {
    font-size: 3.5rem;
    margin-bottom: 1.95rem;
    /*56px/16px*/
  }
}

h3 {
  background-color: #f02aa6;
  background-image: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  color: #ffffff;
  font-size: 1.5rem;
  /*24px/16px*/
  line-height: 1.3333;
  border-radius: 0.625rem;
  margin: 5.625rem 1rem 0;
  padding: 1.5rem 1.75rem 2rem;
  /*24/16 28/16 32/16*/
}

@media (min-width: 476px) {
  h3 {
    max-width: 27.75rem;
    margin-top: 5.875rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  h3 {
    max-width: 21.125rem;
    margin: 2.5rem 0 0 0;
    padding: 3.5rem 2rem 8.75rem;
  }
}

@media (min-width: 1280px) {
  h3 {
    max-width: 21.875rem;
    padding: 4rem 2rem 8.625rem;
    margin-top: 3.7rem;
    border-radius: 1rem;
    font-size: 2rem;
    line-height: 1.25; /*40/32*/
  }
}

h4 {
  font-size: 1.25rem;
  /*20/16 */
  margin-top: 1.25rem;
  margin-bottom: 1.0625rem;
  /* nebo nechat 1rem */
}

@media (min-width: 1280px) {
  h4 {
    font-size: 1.5rem;
    line-height: 1.25;
    margin-top: 2.25rem;
  }
}

@media (min-width: 1440px) {
  h4 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
}

/*----HEADER----*/
.header {
  max-width: var(--maximum-width);
  margin: 1rem 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
}

@media (min-width: 768px) {
  .header {
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1440px) {
  .header {
    margin-right: 10.3125rem;
    margin-left: 10.3125rem;
  }
}

.header-brand {
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: 5.4375rem;
  margin-bottom: -0.0625rem;
}

@media (min-width: 1280px) {
  .header-brand {
    flex-basis: 7.1375rem;
  }
}

.header-image {
  display: block;
  width: 100%;
  height: auto;
}

.header-button {
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
}

/*----MAIN----*/

main {
  margin-top: 2.375rem;
  /*38/16*/
}

@media (min-width: 768px) {
  main {
    margin-top: 0;
  }
}

/* ----- introductory section ----- */

.intro {
  max-width: 27rem;
  margin: 0 auto 1.625rem;
}

@media (min-width: 768px) {
  .intro {
    max-width: var(--maximum-width);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 6rem;
  }
}

@media (min-width: 1280px) {
  .intro {
    justify-content: space-around;
  }
}

@media (min-width: 1440px) {
  .intro {
    justify-content: space-between;
    margin-bottom: 4.5rem;
  }
}

@media (min-width: 768px) {
  .intro-text {
    min-width: 24.875rem;
    margin-right: 2rem; /* todo: udělat jako gap (v jednom směru)*/
    margin-top: 6.25rem;
  }
}

@media (min-width: 1280px) {
  .intro-text {
    min-width: 28.5625rem;
    margin-top: 10.75rem;
  }
}

@media (min-width: 768px) {
  .intro-text p {
    max-width: 24.875rem;
    margin: 0;
  }
}

@media (min-width: 1280px) {
  .intro-text p {
    max-width: 27.875rem;
  }
}

.intro-illustration {
  position: relative;
  min-width: 13.5rem;
}

@media (min-width: 768px) {
  .intro-illustration {
    margin-top: 3.125rem;
    margin-right: 2.8rem;
  }
}

@media (min-width: 1280px) {
  .intro-illustration {
    margin-top: 7.35rem;
  }
}

@media (min-width: 1440px) {
  .intro-illustration {
    margin-right: 3.4rem;
    margin-top: 5.5rem;
  }
}

.intro-image {
  position: relative;
  display: block;
  max-width: 15.8125rem;
  aspect-ratio: 1;
  overflow: hidden;
  background-image: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 99rem;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
}

@media (min-width: 768px) {
  .intro-image {
    max-width: 14rem;
    aspect-ratio: initial;
  }
}

@media (min-width: 1440px) {
  .intro-image {
    max-width: 19.8125rem;
    padding-top: 4.3rem;
  }
}

.intro-image-women {
  display: block;
  width: 87%;
  position: relative;
  top: -2rem;
  right: -0.5rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .intro-image-women {
    width: 100%;
    top: 0;
    right: 0rem;
    padding-top: 0.5rem;
  }
}

.intro-members {
  padding: 1.625rem 1.25rem 1rem;
  top: -1.775rem;
  right: 0.5rem;
}

@media (min-width: 768px) {
  .intro-members {
    top: -0.9rem;
    right: -3.3rem;
    padding-top: 1rem;
  }
}

@media (min-width: 1440px) {
  .intro-members {
    padding: 1.25rem 3.625rem 1.25rem 1.5rem;
    top: 6.4rem;
    right: -7.4rem;
  }
}

.intro-course {
  padding: 1.425rem 2.75rem 1rem 1.25rem;
  bottom: -1.55rem;
  left: 0.5rem;
}

@media (min-width: 768px) {
  .intro-course {
    bottom: -2.2rem;
    left: -2.7rem;
    padding-top: 1rem;
  }
}

@media (min-width: 1440px) {
  .intro-course {
    padding: 1.25rem 4.5rem 1.25rem 1.5rem;
    bottom: 6.2rem;
    left: -7.5rem;
  }
}

.intro-members,
.intro-course {
  position: absolute;
  display: inline-block;
  border-radius: 0.625rem;
  background-color: #ffffff;
  box-shadow: 0 2rem 3.375rem rgba(6, 22, 141, 0.16);
}

.intro-property {
  margin: 0 0 0.7rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.3;
}

@media (min-width: 768px) {
  .intro-property {
    line-height: 2;
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .intro-property {
    margin-bottom: 0.125rem;
    font-size: 1rem;
    line-height: 1.75;
  }
}

.intro-value {
  color: #13183f;
  margin: 0;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1;
}

@media (min-width: 768px) {
  .intro-value {
    line-height: 1.25;
  }
}

@media (min-width: 1440px) {
  .intro-value {
    font-size: 2.5rem;
  }
}

.courses {
  background-image: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  padding-bottom: 5rem;
  margin: 0;
}

@media (min-width: 768px) {
  .courses {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem 0.6875rem;
    padding: 0 2.5rem 5.375rem;
  }
}

@media (min-width: 1440px) {
  .courses {
    gap: 1rem 2.075rem;
    padding-bottom: 8.65rem;
  }
}

.mini-card {
  margin-top: 2.5rem;
  padding: 0.9375rem 1.75rem 2rem;
  border-radius: 0.625rem;
  background-color: #ffffff;
}

@media (min-width: 476px) {
  .mini-card {
    max-width: 27.75rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .mini-card {
    max-width: 21.125rem;
    margin-left: 0;
    margin-right: 0;
    padding: 0.5rem 1.25rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .mini-card {
    max-width: 21.875rem;
    margin-top: 3.7rem;
    padding: 0.5rem 2rem 2.5rem;
    border-radius: 1rem;
  }
}
/*
@media (min-width: 768px) {
  .mini-card:nth-child(n + 3) {
    margin-top: 3.4rem;
  }
}

@media (min-width: 1116px) {
  .mini-card:nth-child(n + 3) {
    margin-top: 2.5rem;
  }
}

@media (min-width: 1280px) {
  .mini-card:nth-child(n + 3) {
    margin-top: 3.5rem;
  }
}
*/
/*
@media (min-width: 1440px) {
  .mini-card {
    margin-top: 3.5rem;
  }
  .mini-card:nth-child(n + 4) {
    margin-top: 4.5rem;
  }
}
*/
.mini-card-icon {
  margin-top: -5rem;
}

@media (min-width: 768px) {
  .mini-card-icon {
    margin-top: -2rem;
  }
}

/*----BUTTONS----*/

.button {
  display: inline-block;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5;
  /*28/18*/
  font-weight: 700;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  /*10/16* 24/16*/
  border-radius: 1.75rem;
  /*28px/16px*/
  white-space: nowrap;
}

@media (min-width: 1280px) {
  .button {
    font-size: 1.125rem;
    /*18px/16px*/
    padding: 0.875rem 2rem;
  }
}

.button-dark {
  background-color: #13183f;
}

.button-dark:hover,
.button-dark:active {
  background-color: #666ca3;
}

.button-orange {
  background-image: linear-gradient(#f02aa6, #ff6f48);
  padding: 1rem 2.375rem;
  margin-top: 1.5rem;
  /*24/16*/
  margin-bottom: 4.375rem;
  /*46/16*/
  border-radius: 2rem;
  /*32px/16px*/
}

.button-orange:hover,
.button-orange:active {
  background-image: linear-gradient(
      rgb(255 255 255 / 50%),
      rgb(255 255 255 / 50%)
    ),
    linear-gradient(#f02aa6, #ff6f48);
}

@media (min-width: 1280px) {
  .button-orange {
    padding: 1.125rem 2rem;
    margin-top: 2.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1440px) {
  .button-orange {
    padding-bottom: 1.125rem;
    margin-bottom: 0;
  }
}

.get-started-link {
  display: inline-block;
  color: #f74780;
  font-size: 1.125rem;
  /*18/16*/
  line-height: 1.5555;
  /*28/18*/
  font-weight: 700;
  text-decoration: none;
  margin-top: 1.5rem;
}

.get-started-link:hover,
.get-started-link:active {
  color: #ffa7c3;
}

.button-violet {
  background-image: linear-gradient(#f02aa6, #4851ff);
}

.button-violet:hover,
.button-violet:active {
  color: #13183f;
  background-image: linear-gradient(
      rgb(255 255 255 / 50%),
      rgb(255 255 255 / 50%)
    ),
    linear-gradient(#f02aa6, #4851ff);
}

/*----FOOTER----*/

.footer {
  background-color: #13183f;
  padding: 2.25rem 1rem;
}

@media (min-width: 768px) {
  .footer {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 1440px) {
  .footer {
    padding: 2rem 10.375rem;
  }
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--maximum-width);
}

.footer-brand {
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: 5.5625rem;
  margin-top: 0.3rem;
}

@media (min-width: 1280px) {
  .footer-brand {
    flex-basis: 7.1375rem;
  }
}
